.game {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgb(87, 87, 87);
    color: #fff;
}

.ship {
    position: absolute;
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 110px;
    border: 1px solid red;
  

}
.ship span {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 10px;
    width: 300px;
}

.bullet,
.asteroid {
    position: absolute;
    border: 1px solid red;
    width: 5px;
    height: 5px;
}

.scoreboard {
    position: absolute;
    top: 0;
    left: 0;

}